
<div class="our-social-media">
  <a href="https://www.facebook.com/hometowncomicsgreenfield">
    <img
      src="../assets/images/ico-facebook.gif"
      alt="facebook image"
      class="social-media-image"
    >
  </a>
  <a href="https://twitter.com/hometowncomics">
    <img
      src="../assets/images/twitter-logo.png"
      alt="twitter image"
      class="social-media-image"
    >
  </a>
  <a href="">
    <img
      src="../assets/images/ebay.png"
      alt="ebay image"
      class="social-media-image"
    >
  </a>
</div>

{{yield}}
