
<div class="site-menu-parent">
  <span class="menu-item">
    {{#link-to "homepage" class="menu-link"}}
      Homepage
    {{/link-to}}
  </span>
  <span class="menu-item">
    {{#link-to "products" class="menu-link"}}
      Products
    {{/link-to}}
  </span>
  <span class="menu-item">
    {{#link-to "events" class="menu-link"}}
      Events
    {{/link-to}}
  </span>
  <span class="menu-item">
    {{#link-to "social" class="menu-link"}}
      Social
    {{/link-to}}
  </span>
  <span class="menu-item">
    {{#link-to "location" class="menu-link"}}
      Location
    {{/link-to}}
  </span>
</div>

{{yield}}
