
<div class="site-menu-parent">
  <span class="menu-item">Homepage</span>
  <span class="menu-item">Events</span>
  <span class="menu-item">Products</span>
  <span class="menu-item">Social</span>
  <span class="menu-item">Location</span>
</div>

{{yield}}
