//@import "pod-styles.css"; /*for individual component styling, css */
@import "pod-styles";      /*for individual component styling, scss */

@import "routes";
@import "components";
@import "global_vars";

body
{
  position: relative;
  width: 100%;
}

.ember-application
{
  margin:0;
}

.sub-title
{
  font-size: 32px;
  text-decoration: underline;
  text-align: center;
}
