//@import "pod-styles.css"; /*for individual component styling, css */
@import "pod-styles";      /*for individual component styling, scss */

@import "routes";
@import "components";
@import "global_vars";

body
{
  position: relative;
  width: 100%;
}

.ember-application
{
  margin:0;
}

.sub-title
{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

button
{
  font-size: 24px;
  padding: 2%;
  background: $site-secondary;
  border: 3px $site-primary;
  border-style: solid;
  color: white;
}
