<div class="account-option-panel">
    <form class="site-form" method="post">
        <div class="sub-title">
            Create Account
        </div>
        <hr>
        <div>
            Your email will only be used to recover your account.
        </div>

        <br />
        <ul class="input-wrapper">
            <li class="form-row">
                <label>Username : </label>
                <input type="text" name="username" default="Username">
            </li>
            <li class="form-row">
                <label>Password : </label>
                <input type="password" name="password" default="Password"> <br />
            </li>
            <li class="form-row">
                <label>Confirm Password: </label>
                <input type="password" name="confirmPassword" default="Password"> <br />
            </li>
            <li class="form-row">
                <label>Email : </label>
                <input type="text" name="email" default="Email"> <br />
            </li>
            <li class="form-row">
                <label>Confirm Email : </label>
                <input type="text" name="confirmEmail" default="Email"> <br />
            </li>
            <br />
        </ul>
        
        <div class="account-buttons">
            <button type="submit" class="site-button" value="Create Account">Create Account</button>
        </div>
        
    </form>
</div>

{{outlet}}