<div class="account-option-panel">
    <form class="site-form" method="post">
        <div class="sub-title">
            Create Account
        </div>
        <hr>
        <div class="info-text">
            Your email will only be used to recover your account.
        </div>

        <br />
        <ul class="input-wrapper">
            <li class="form-row">
                <label for="username">Username : </label>
                <input type="text" name="username" placeholder="Username">
            </li>
            <li class="form-row">
                <label for="password">Password : </label>
                <input type="password" name="password" placeholder="Password"> <br />
            </li>
            <li class="form-row">
                <label>Confirm Password: </label>
                <input type="password" name="confirmPassword" placeholder="Confirm Password"> <br />
            </li>
            <li class="form-row">
                <label>Email : </label>
                <input type="text" name="email" placeholder="example@email.com"> <br />
            </li>
            <li class="form-row">
                <label>Confirm Email : </label>
                <input type="text" name="confirmEmail" placeholder="Confirm Email" autocomplete="no"> <br />
            </li>
            <br />
        </ul>
        
        <div class="account-buttons">
            <button type="submit" class="site-button" value="Create Account">Create Account</button>
        </div>
        
    </form>
</div>

{{outlet}}