<div class="account-option-panel">
    <form class="site-form" method="post">
       <div class="sub-title">
            Login
        </div>
        <hr>
        <ul class="input-wrapper">
            <li class="form-row">
                <label>Username : </label>
                <input type="text" name="Username" default="Username"> <br>
            </li>
            <li class="form-row">
                <label>Password : </label>
                <input type="password" name="Password" default="Password">
            </li>
        </ul>
        <div class="account-buttons">
            <button type="submit" value="Login" class="site-button submit">Login</button>
        </div>
        <br>
        <div class="account-buttons">
            {{#link-to "account.recover-account-username" class="site-button other-login-button" tagName='button'}}
                Forgot Username
            {{/link-to}}
            {{#link-to "account.reset-account-password" class="site-button other-login-button" tagName='button'}}
                Forgot Password
            {{/link-to}}
            {{#link-to "account.create-account" class="site-button other-login-button" tagName='button'}}
                Create Account
            {{/link-to}}
        </div>
    </form>
</div>

{{outlet}}