<form class="site-form" method="post">
    <div class="sub-title">
        Login
    </div>
    Username : <input type="text" name="Username" default="Username"> <br />
    Password : <input type="password" name="Password" default="Password"> <br /><br />
    <input type="submit" value="Login">

    {{#link-to "recover-account-username" class="other-login-option" tagname="a"}}
        Forgot Username
    {{/link-to}}
    {{#link-to "reset-account-password" class="other-login-option" tagname="a"}}
        Forgot Password
    {{/link-to}}
    {{#link-to "create-account" class="other-login-option" tagname="a"}}
        Create Account
    {{/link-to}}
</form>

{{outlet}}