<div class="account-option-panel">
    <form class="site-form" {{action "authenticate" on="submit"}}>
       <div class="sub-title">
            Login
        </div>
        <hr>
        <ul class="input-wrapper">
            <li class="form-row">
                <label for="username">Username : </label>
                <input type="text" name="Username" placeholder="Username"> <br>
            </li>
            <li class="form-row">
                <label for="password">Password : </label>
                <input type="password" name="Password" placeholder="Password">
            </li>
        </ul>
        <div class="account-buttons">
            <button type="submit" value="Login" class="site-button submit">Login</button>
        </div>

        {{#if errorMessage}}
        <div class="login-error">
            {{errorMessage}}
        </div>
        {{/if}}

        <div class="account-buttons">
            {{#link-to "account.recover-account-username" class="site-button other-login-button" tagName='button'}}
                Forgot Username
            {{/link-to}}
            {{#link-to "account.reset-account-password" class="site-button other-login-button" tagName='button'}}
                Forgot Password
            {{/link-to}}
            {{#link-to "account.create-account" class="site-button other-login-button" tagName='button'}}
                Create Account
            {{/link-to}}
        </div>
    </form>
</div>

{{outlet}}