<div class="account-option-panel">
    <form class="site-form" method="post">
        <div class="sub-title">
            Recover Account Username
        </div>
        <div>
            Enter your email in the field below. If the email is recognized then
            you will recieve an email to the given address that contains your
            username.
        </div>
        <label>Email : </label><input type="text" name="email" default="Email"> <br /><br />
        <input type="submit" value="Recover Username">
    </form>
</div>

{{outlet}}