<div class="account-option-panel">
    <form class="site-form" method="post">
        <div class="sub-title">
            Recover Account Username
        </div>
        <hr>
        <div class="info-text">
            Enter your email in the field below. If the email is recognized then
            you will recieve an email to the given address that contains your
            username.
        </div>
        <ul class="input-wrapper">
            <li class="form-row">
                <label for="email">Email : </label>
                <input type="text" name="email" default="Email" placeholder="example@email.com">
            </li>
        </ul> 
        
        <div class="account-buttons">
            <button type="submit" value="Recover Username" class="site-button">Recover Username</button>
        </div>
    </form>
</div>

{{outlet}}