<div class="account-option-panel">
    <form class="site-form" method="post">
        <div class="sub-title">
            Recover Account Password
        </div>
        <hr>
        <div class="info-text">
            To reset your account password please enter your username and the
            email address that you registered your account with. Once you press
            recover password if the account is recognized you will recieve an
            email to the given address that will enable you to reset your
            password.
        </div>

        <br>

        <ul class="input-wrapper">
            <li class="form-row">
                <label for="username">Username : </label>
                <input type="text" name="Username" placeholder="Username">
            </li>
            <li class="form-row">
                <label for="email">Email : </label>
                <input type="text" name="email" placeholder="example@email.com">
            </li>
        </ul>

        <div class="account-buttons">
            <button type="submit" value="Recover Password" class="site-button">Recover Password</button>
        </div>
    </form>
</div>

{{outlet}}