<div class="account-option-panel">
    <form class="site-form" method="post">
        <div class="sub-title">
            Recover Account Password
        </div>
        <div>
            To reset your account password please enter your username and 
            email address that you registered your account with. Once you press
            recover password if the account is recognized you will recieve an
            email to the given address that will enable you to reset your
            password.
        </div>

        <br />

        <label>Username : </label><input type="text" name="Username" default="Username"> <br />
        <label>Email : </label><input type="text" name="email" default="Email"> <br /><br />
        <input type="submit" value="Recover Password">
    </form>
</div>

{{outlet}}