# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/
/tmp/
*.pyc

# dependencies
/bower_components/
/node_modules/

# misc
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
/npm-debug.log*
/testem.log
/yarn-error.log

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try

api/src/main/dummy_data_generators/__pycache__/
api/src/main/dummy_data_generators/__init__.py
.vscode/launch.json
