.event-container
{
  width: 45%;
  text-align: center;
  margin: .5%;
  border: 2px solid grey;
  background-color: white;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
  padding: .5%;
}

.event-title
{
  font-size: 23px;
  font-weight: bold;
  text-decoration: underline;
}

.event-sub
{
  font-size: 20px;
}

.event-text
{
  width: 70%;
  min-height: 1px;
}

.event-image
{
  width: 30%;
  vertical-align: middle;
  justify-content: center;
  margin: auto;
}

.event-image>img
{
  width: 100%;
  height: auto;
}
