
.site-title-parent
{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  position: relative;
}

.site-title
{
  font-size: 68px;
  width: 80%;
  margin: auto;
  color: $site-primary;
  text-shadow:
      1px  1px 0 $site-secondary,
     -1px  1px 0 $site-secondary,
      1px -1px 0 $site-secondary,
     -1px -1px 0 $site-secondary,
      0px  1px 0 $site-secondary,
      0px -1px 0 $site-secondary,
     -1px  0px 0 $site-secondary,
      1px  0px 0 $site-secondary,
      2px  2px 0 $site-secondary,
     -2px  2px 0 $site-secondary,
      2px -2px 0 $site-secondary,
     -2px -2px 0 $site-secondary,
      0px  2px 0 $site-secondary,
      0px -2px 0 $site-secondary,
     -2px  0px 0 $site-secondary,
      2px  0px 0 $site-secondary,
      1px  2px 0 $site-secondary,
     -1px  2px 0 $site-secondary,
      1px -2px 0 $site-secondary,
     -1px -2px 0 $site-secondary,
      2px  1px 0 $site-secondary,
     -2px  1px 0 $site-secondary,
      2px -1px 0 $site-secondary,
     -2px -1px 0 $site-secondary;
}

.site-title-parent>img
{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
}

.account-options
{
  font-size: 16pt;
  display: block;
}

.account-options>button
{
  text-decoration: none;
  border: 2px solid grey;
  word-wrap: none;
  padding: 5px;
  margin-top: 8px;
  margin-right: 8px;
}
