
.event-list
{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

hr
{
  width: 90%;
}

.event-item
{
  width: 45%;
  text-align: center;
  margin: .5%;
  border: solid;
  border-color: lighten($site-text-shadow, 12);
  background-color: white;
}

.event-title
{
  font-size: 23px;
  font-weight: bold;
  text-decoration: underline;
}

.event-sub
{
  font-size: 20px;
}
