
.location-container
{
  display: flex;
  flex-direction: row;
}

iframe
{
  border: 0;
  margin: 2%;
}

hr
{
  width: 50%;
}

.location-text
{
  padding-top: 5%;
  text-align: center;
  flex-grow: 1;
}