
<div class="homepage-slider-area">
  <div class="slider-navigation">
    &#60;
  </div>
  <div class="slider-image">
    image
  </div>
  <div class="slider-navigation">
    &#62;
  </div>
</div>

<div class="self-promotion-area">
    {{events-list events=events}}
  <hr />
  <div class="sub-title">
    Social Media
  </div>
</div>

{{outlet}}
