
<div class="homepage-slider-area">
  <div class="slider-navigation">
    &#60;
  </div>
  <div class="slider-image">
    image
  </div>
  <div class="slider-navigation">
    &#62;
  </div>
</div>

<div class="self-promotion-area">
  <div class="sub-title">
    Hours
  </div>
  {{store-hour-list hours=hours}}
  <hr />
  <div>

  </div>

  {{events-list events=events}}
  <div class="sub-title">
    Social Media
  </div>
  <hr />
</div>

{{outlet}}
