<div class="sub-title">
  Where to find us
</div>
<hr>

<div class="location-container">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d3645.413016865457!2d-85.76981015485538!3d39.7976878434497!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x886b3b2143b6f6a1%3A0xf9e9f0ab6a363d72!2sHometown+Comics+%26+Games%2C+1040+N+State+St%2C+Greenfield%2C+IN+46140!3m2!1d39.7975479!2d-85.7701373!5e0!3m2!1sen!2sus!4v1545855555843"
    width="600"
    height="450"
    frameborder="0"
    allowfullscreen
  >
  </iframe>

  <div class="location-text">
    <div class="sub-title">
      Address
    </div>
    <hr>
    <div class="site-text">
      1040 North State Street <br />
      Greenfield, Indiana 46140
    </div>

    <br>

    <div class="sub-title">
      Phone Number
    </div>
    <hr>
    <div class="site-text">
      (317) 467-9050
    </div>

    <br>
    <br>

    <button
      class="site-button"
      onclick="window.open('https://goo.gl/maps/i5FvWkGME3D2');"
    >
      Click here for directions
    </button>
  </div>

</div>

{{outlet}}
