<div>
  <div class="search-bar-area">
    Search: <input type="text" placeholder="Search..">
    <button class="search-button"> Go </button>
  </div>

  <div class="product-filter-area">
    filters
  </div>

  <div class="product-display-area">
    <div class="product-sub-area sub-title">
      Special Items/Promotions
    </div>

    <hr>

    <div class="product-sub-area sub-title">
      Filtered Content
    </div>
  </div>
</div>

{{outlet}}
